html, body, .suit{
    width:100%;
    height:100%;
    margin:0px;
}
.suit{
    background-color:black;
    position:relative;
    z-index:-1;

}
.circle{
    width:50px;
    height:50px;
    border-radius:50px;
}
.align-center{
    margin:0 auto;
}
.bowtie{
    width:0;
    height:0;
    border-top:5vw solid transparent;
    border-bottom:5vw solid transparent;
    border-right:10vw solid black;
    border-left:10vw solid black;
}
.shirt{
    width:0;
    height:0;
    border-left:50vw solid transparent;
    border-right:49vw solid transparent;
    border-top:35vw solid white;
    position:absolute;
    z-index:-1;
}
