
    <!-- Contact Section -->
    <section id="contact" class="contact-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Learn More!</h2>
                    <hr class="" align="" />
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 text-center">
                    <a class="btn btn-default page-scroll" href="https://www.linkedin.com/in/lauryndbrown/"><i class="fa fa-linkedin" aria-hidden="true"></i></i></span></a>
                </div>
                <div class="col-xs-6 text-center">
                    <a class="btn btn-default page-scroll" href="https://github.com/lauryndbrown"><i class="fa fa-github-alt" aria-hidden="true"></i></i></span></a>
                </div>
            </div>
        </div>
    </section>
    <!-- jQuery -->
    <script src="{{ site.baseurl }}{% link assets/js/jquery.js %}"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="{{ site.baseurl }}{% link assets/js/bootstrap.min.js %}"></script>
    <!-- Scrolling Nav JavaScript -->
    <script src="{{ site.baseurl }}{% link assets/js/jquery.easing.min.js %}"></script>
    <script src="{{ site.baseurl }}{% link assets/js/scrolling-nav.js %}"></script>
    <!-- Awesome Font -->
    <script src="https://use.fontawesome.com/f84289e89a.js"></script> 
    <!-- Prism JS -->
    <script src="{{ site.baseurl }}{% link assets/js/prism.js %}"></script>
    {% if page.page_id == 'index' %}
    <!-- Custom JS -->
    <script src="{{ site.baseurl }}{% link assets/js/index.js %}"></script>
    {% endif %}
</body>
</html>


