.blog-post-list {
    list-style: none;
    padding:0;
    margin:0;
    font-size:18px;
    color:#fff;
}
.blog-post-list li {
    min-height: 200px;
    padding:10px;
}
@media(max-width:700px) {
    .blog-post-list li {
        width:100%;
    }
    
}
.blog-post-list li a, .blog-post-list li{
    color: #263238;
}
.blog-post-list li:nth-child(2n){
}
.blog-post-list li:nth-child(2n+1) {
  //  border-right: solid 10px black;
}
.blog-post-list li {
    margin-bottom:20px;
    //background-color: rgba(0, 176, 255,.6); 
//    box-shadow: 10px 10px rgba(0, 176, 255,.6); 
    padding: 20px;
}

.blog-post-list li a{
    font-size: 30px;
}
.blog-post-list li span{
    font-size: 30px;
    position:absolute;
    bottom:0;
    right:0;
    color: rgba(0,0,0,0.2);

}
.blog-post-list li:nth-child(1), .blog-post-list li:nth-child(2) {
//    border-top: none;
}
.blog-post-list li:nth-child(3n+2){
}
