{% include header_and_nav.html %}
    <!-- Intro Section -->
    {% include _blog_header/blog_header.html %}

    <!-- Blog post Section -->
    <section id="blog" class="blog">
        <div class="container">
            <div class="row">
                <div class="text-left col-md-12">
                    {{ page.content }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h4>Check Out More Blog Posts</h4>
                    <hr />
                    <ul class="sidebar_posts row">
                    {% for i in (0..9) %}
                        <li>
                            <span class="col-xs-3">{{ site.posts[i].date | date: "%D" }}</span>
                            <a class="col-xs-8 col-xs-offset-1" href="{{ site.baseurl }}{{ site.posts[i].url }}">{{ site.posts[i].title }}</a>
                        </li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </section>
    {% include footer_and_js.html %}
