{% include header_and_nav.html %}
    <!-- Intro Section -->
    <section id="intro" class="intro-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 cloud-container">
                    <div class="cloud pull-right"></div>
                    <div class="cloud bg-cloud"></div>
                    <div class="cloud bg-cloud"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="rose-container">
                        <div class="rose">
                            <div class="bulb-bottom top-of-stem"></div>
                            <div class="leaf left-leaf"></div>
                            <div class="stem"></div>
                            <div class="leaf right-leaf"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <h1 class="text-left">Hi! I'm Lauryn Brown!</h1>
                    <p class="lead text-left">Recent Carnegie Mellon Graduate honing her craft at the Recurse Center in New York!</p>
                    <div class="center-block">
                        <a class="btn btn-default page-scroll" href="#projects"><i class="fa fa-chevron-down" aria-hidden="true"></i></span></a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                </div>
            </div>
        </div>
    </section>

    <!-- projects Section -->
    <section id="projects" class="projects-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Current Projects</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="slide-container">
                        <div class="slide">
                            <h3>{{ page.project1.title}}</h3>
                            <p class="lead">{{ page.project1.description }}</p>
                            <a class="btn btn-default" href="{{ page.project1.link }}"><span><h5>Learn More</h5></span></a>
                        </div>
                        <div class="slide">
                            <h3>{{ page.project2.title}}</h3>
                            <p class="lead">{{ page.project2.description }}</p>
                            <a class="btn btn-default" href="{{ page.project2.link }}"><span><h5>Learn More</h5></span></a>
                        </div>
                        <div class="slide">
                            <h3>{{ page.project3.title}}</h3>
                            <p class="lead">{{ page.project3.description }}</p>
                            <a class="btn btn-default" href="{{ page.project3.link }}"><span><h5>Learn More</h5></span></a>
                        </div>
                        <div>
                            <a class="prev" href="javascript:prev_slide();"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
                            <a class="next" href="javascript:next_slide();"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% include footer_and_js.html %}
