{% include header_and_nav.html %}
    <!-- Intro Section -->
    <section id="intro" class="intro-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 cloud-container">
                    <div class="cloud pull-right"></div>
                    <div class="cloud bg-cloud"></div>
                    <div class="cloud bg-cloud"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="rose-container">
                        <div class="rose">
                            <div class="bulb-bottom top-of-stem"></div>
                            <div class="leaf left-leaf"></div>
                            <div class="stem"></div>
                            <div class="leaf right-leaf"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 text-container">
                    <h1 class="">Hi! I'm Lauryn Brown!</h1>
                    <hr class="" align="left" />
                    <p class="lead">Recent Carnegie Mellon Graduate honing her craft at the Recurse Center in New York!</p>
                    <div class="btn-container text-center">
                        <a class="btn btn-default page-scroll" href="#projects"><i class="fa fa-chevron-down" aria-hidden="true"></i></span></a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                </div>
            </div>
        </div>
    </section>

    <!-- projects Section -->
    <section id="projects" class="projects-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Current Projects</h2>
                    <hr class="" align="" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="container row">
                        {% for project in page.projects %}
                        <div class="project">
                            <a class="btn btn-default" href="{{ project.link }}">
                            <div class="col-sm-12 text-center">
                                <h3>{{ project.title}}</h3>
                                <p class="lead">{{ project.description }}</p>
                                <!--<a class="btn btn-default" href="{{ project.link }}"><h5>Learn More</h5></a>-->
                                <!--<a class="btn btn-default" href="{{ project.link }}"><h5>Demo</h5></a>-->
                            </div>
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% include footer_and_js.html %}
